<div id="footer" style="padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px">
    <hr>
    <a style="padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 0px">&copy; lernedeutsch.org</a> 
    
    <a style="padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 0px" href="mailto:venera.urgazieva@protonmail.com" rel="nofollow noopener noreferrer">Kontakt</a>
    <a href="/über-uns" rel="nofollow noopener noreferrer">Über uns</a>
</div>